In [1]:
import pandas as pd
import numpy as np

# Pandas - Intro

In [4]:
sample = np.random.random_sample((5,))
sample

array([0.13191952, 0.35990423, 0.85568464, 0.50367266, 0.63501278])

In [6]:
type(sample)

numpy.ndarray

In [8]:
sample2 = np.random.random_sample((5,10))
sample2

array([[0.54815035, 0.30179835, 0.63609002, 0.17347486, 0.84660688,
        0.73641511, 0.70930195, 0.87907146, 0.22256704, 0.95097681],
       [0.83395781, 0.01582587, 0.64593067, 0.76822951, 0.48137756,
        0.85729932, 0.93975282, 0.34907033, 0.23039391, 0.38281749],
       [0.65617875, 0.50359553, 0.51852084, 0.59386174, 0.18570053,
        0.48101509, 0.31572457, 0.07251695, 0.20158174, 0.44632222],
       [0.04391227, 0.87418825, 0.36551994, 0.36123712, 0.72651957,
        0.53557479, 0.5784419 , 0.97296048, 0.46667337, 0.48484456],
       [0.99440124, 0.9642346 , 0.31080238, 0.60991818, 0.376494  ,
        0.71112565, 0.8601146 , 0.5270267 , 0.83260105, 0.63471002]])

In [9]:
pd.DataFrame(sample2)

,0,1,2,3,4,5,6,7,8,9
0,0.548150,0.301798,0.636090,0.173475,0.846607,0.736415,0.709302,0.879071,0.222567,0.950977
1,0.833958,0.015826,0.645931,0.768230,0.481378,0.857299,0.939753,0.349070,0.230394,0.382817
2,0.656179,0.503596,0.518521,0.593862,0.185701,0.481015,0.315725,0.072517,0.201582,0.446322
3,0.043912,0.874188,0.365520,0.361237,0.726520,0.535575,0.578442,0.972960,0.466673,0.484845
4,0.994401,0.964235,0.310802,0.609918,0.376494,0.711126,0.860115,0.527027,0.832601,0.634710

In [11]:
colnames = ["kiwi_density", "kiwi_mass", "orange_density", "orange_mass"]
df = pd.DataFrame(np.random.random_sample((10,4)), columns=colnames)
df

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.617289   0.308135        0.385962     0.712772
1      0.881831   0.197494        0.326150     0.488264
2      0.557947   0.198782        0.757447     0.257462
3      0.499460   0.736382        0.738650     0.691952
4      0.871954   0.390369        0.778914     0.240119
5      0.186599   0.093362        0.724932     0.098743
6      0.767163   0.024908        0.638546     0.155973
7      0.040348   0.658949        0.142761     0.947469
8      0.815830   0.415016        0.751812     0.361005
9      0.932849   0.291674        0.252031     0.247365

## 1. Subsetting

### 1.1 Columns

In [12]:
# 1 column
# if you want a Series
df["kiwi_density"]

0    0.617289
1    0.881831
2    0.557947
3    0.499460
4    0.871954
5    0.186599
6    0.767163
7    0.040348
8    0.815830
9    0.932849
Name: kiwi_density, dtype: float64

In [13]:
# if you want a DataFrame
df[["kiwi_density"]]

   kiwi_density
0      0.617289
1      0.881831
2      0.557947
3      0.499460
4      0.871954
5      0.186599
6      0.767163
7      0.040348
8      0.815830
9      0.932849

In [14]:
# multiple columns
df[["kiwi_density", "orange_density"]]

   kiwi_density  orange_density
0      0.617289        0.385962
1      0.881831        0.326150
2      0.557947        0.757447
3      0.499460        0.738650
4      0.871954        0.778914
5      0.186599        0.724932
6      0.767163        0.638546
7      0.040348        0.142761
8      0.815830        0.751812
9      0.932849        0.252031

In [15]:
col = ["orange_mass", "orange_mass", "orange_density"]
df[col]

   orange_mass  orange_mass  orange_density
0     0.712772     0.712772        0.385962
1     0.488264     0.488264        0.326150
2     0.257462     0.257462        0.757447
3     0.691952     0.691952        0.738650
4     0.240119     0.240119        0.778914
5     0.098743     0.098743        0.724932
6     0.155973     0.155973        0.638546
7     0.947469     0.947469        0.142761
8     0.361005     0.361005        0.751812
9     0.247365     0.247365        0.252031

### 1.2. Rows

In [18]:
# through ranges
df[0:1]

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.617289   0.308135        0.385962     0.712772

In [19]:
df[:5]

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.617289   0.308135        0.385962     0.712772
1      0.881831   0.197494        0.326150     0.488264
2      0.557947   0.198782        0.757447     0.257462
3      0.499460   0.736382        0.738650     0.691952
4      0.871954   0.390369        0.778914     0.240119

In [20]:
df.head()

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.617289   0.308135        0.385962     0.712772
1      0.881831   0.197494        0.326150     0.488264
2      0.557947   0.198782        0.757447     0.257462
3      0.499460   0.736382        0.738650     0.691952
4      0.871954   0.390369        0.778914     0.240119

In [21]:
df

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.617289   0.308135        0.385962     0.712772
1      0.881831   0.197494        0.326150     0.488264
2      0.557947   0.198782        0.757447     0.257462
3      0.499460   0.736382        0.738650     0.691952
4      0.871954   0.390369        0.778914     0.240119
5      0.186599   0.093362        0.724932     0.098743
6      0.767163   0.024908        0.638546     0.155973
7      0.040348   0.658949        0.142761     0.947469
8      0.815830   0.415016        0.751812     0.361005
9      0.932849   0.291674        0.252031     0.247365

In [22]:
df["orange_density"] < .5

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7     True
8    False
9     True
Name: orange_density, dtype: bool

In [23]:
# get used to using dedicated methods for comparisons
df["orange_density"].lt(.5)

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7     True
8    False
9     True
Name: orange_density, dtype: bool

In [26]:
# say, I want to keep the first 3 rows
to_keep = [True, True, True, False, False, False, False, False, False, False]
df[to_keep]

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.617289   0.308135        0.385962     0.712772
1      0.881831   0.197494        0.326150     0.488264
2      0.557947   0.198782        0.757447     0.257462

In [27]:
# keep the last 5
to_keep_now = [False, False, False, False, False, True, True, True, True, True]
df[to_keep_now]

   kiwi_density  kiwi_mass  orange_density  orange_mass
5      0.186599   0.093362        0.724932     0.098743
6      0.767163   0.024908        0.638546     0.155973
7      0.040348   0.658949        0.142761     0.947469
8      0.815830   0.415016        0.751812     0.361005
9      0.932849   0.291674        0.252031     0.247365

In [29]:
df[df["orange_density"].lt(.5)]

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.617289   0.308135        0.385962     0.712772
1      0.881831   0.197494        0.326150     0.488264
7      0.040348   0.658949        0.142761     0.947469
9      0.932849   0.291674        0.252031     0.247365

In [33]:
df["orange_density"].lt(.5) & df["kiwi_density"].gt(.5)

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9     True
dtype: bool

In [34]:
df[df["orange_density"].lt(.5) & df["kiwi_density"].gt(.5)]

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.617289   0.308135        0.385962     0.712772
1      0.881831   0.197494        0.326150     0.488264
9      0.932849   0.291674        0.252031     0.247365

==> Confusing!

When does pandas know when I want to subset columns or when I want to subset rows??


-> use `.loc[]` or `iloc[]`

Example:
```
df.loc[rows, columns]
```

In [36]:
df.loc[df["orange_density"].lt(.5), ["orange_mass"]]

   orange_mass
0     0.712772
1     0.488264
7     0.947469
9     0.247365

In [43]:
df.loc[df["kiwi_mass"].gt(.3),]

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.617289   0.308135        0.385962     0.712772
3      0.499460   0.736382        0.738650     0.691952
4      0.871954   0.390369        0.778914     0.240119
7      0.040348   0.658949        0.142761     0.947469
8      0.815830   0.415016        0.751812     0.361005

In [40]:
df.loc[:,["kiwi_density"]]

   kiwi_density
0      0.617289
1      0.881831
2      0.557947
3      0.499460
4      0.871954
5      0.186599
6      0.767163
7      0.040348
8      0.815830
9      0.932849

In [45]:
df.loc[:,["kiwi_mass", "orange_density"]]

   kiwi_mass  orange_density
0   0.308135        0.385962
1   0.197494        0.326150
2   0.198782        0.757447
3   0.736382        0.738650
4   0.390369        0.778914
5   0.093362        0.724932
6   0.024908        0.638546
7   0.658949        0.142761
8   0.415016        0.751812
9   0.291674        0.252031

```
df.iloc[]
```

allows you to use positional indexes instead of labels

In [50]:
df.index = range(10, 20 ,1)

In [51]:
df

    kiwi_density  kiwi_mass  orange_density  orange_mass
10      0.617289   0.308135        0.385962     0.712772
11      0.881831   0.197494        0.326150     0.488264
12      0.557947   0.198782        0.757447     0.257462
13      0.499460   0.736382        0.738650     0.691952
14      0.871954   0.390369        0.778914     0.240119
15      0.186599   0.093362        0.724932     0.098743
16      0.767163   0.024908        0.638546     0.155973
17      0.040348   0.658949        0.142761     0.947469
18      0.815830   0.415016        0.751812     0.361005
19      0.932849   0.291674        0.252031     0.247365

In [52]:
df.loc[1:4,]

Empty DataFrame
Columns: [kiwi_density, kiwi_mass, orange_density, orange_mass]
Index: []

`.loc` is not returning anything because it is looking for index labels 1-4

In [53]:
df.iloc[1:4]

    kiwi_density  kiwi_mass  orange_density  orange_mass
11      0.881831   0.197494        0.326150     0.488264
12      0.557947   0.198782        0.757447     0.257462
13      0.499460   0.736382        0.738650     0.691952

In [54]:
df.iloc[1:7, 2:4]

    orange_density  orange_mass
11        0.326150     0.488264
12        0.757447     0.257462
13        0.738650     0.691952
14        0.778914     0.240119
15        0.724932     0.098743
16        0.638546     0.155973

## 2. Sorting

In [60]:
# reset the index to how it was
df = df.reset_index(drop=True)

In [ ]:
# alternative to re-assigning you can use the inplace arg
# df.reset_index(drop=True, inplace=True)

In [62]:
df.sort_values("kiwi_mass")

   kiwi_density  kiwi_mass  orange_density  orange_mass
6      0.767163   0.024908        0.638546     0.155973
5      0.186599   0.093362        0.724932     0.098743
1      0.881831   0.197494        0.326150     0.488264
2      0.557947   0.198782        0.757447     0.257462
9      0.932849   0.291674        0.252031     0.247365
0      0.617289   0.308135        0.385962     0.712772
4      0.871954   0.390369        0.778914     0.240119
8      0.815830   0.415016        0.751812     0.361005
7      0.040348   0.658949        0.142761     0.947469
3      0.499460   0.736382        0.738650     0.691952

In [63]:
df.sort_values("kiwi_mass", ascending=False)

   kiwi_density  kiwi_mass  orange_density  orange_mass
3      0.499460   0.736382        0.738650     0.691952
7      0.040348   0.658949        0.142761     0.947469
8      0.815830   0.415016        0.751812     0.361005
4      0.871954   0.390369        0.778914     0.240119
0      0.617289   0.308135        0.385962     0.712772
9      0.932849   0.291674        0.252031     0.247365
2      0.557947   0.198782        0.757447     0.257462
1      0.881831   0.197494        0.326150     0.488264
5      0.186599   0.093362        0.724932     0.098743
6      0.767163   0.024908        0.638546     0.155973

In [65]:
df = df.sort_values("kiwi_mass", ascending=False)

In [68]:
df = df.reset_index(drop=True)

In [69]:
df

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.499460   0.736382        0.738650     0.691952
1      0.040348   0.658949        0.142761     0.947469
2      0.815830   0.415016        0.751812     0.361005
3      0.871954   0.390369        0.778914     0.240119
4      0.617289   0.308135        0.385962     0.712772
5      0.932849   0.291674        0.252031     0.247365
6      0.557947   0.198782        0.757447     0.257462
7      0.881831   0.197494        0.326150     0.488264
8      0.186599   0.093362        0.724932     0.098743
9      0.767163   0.024908        0.638546     0.155973

In [73]:
df = (df
      .sort_values("orange_mass")
      .reset_index(drop=True))

   kiwi_density  kiwi_mass  orange_density  orange_mass
0      0.186599   0.093362        0.724932     0.098743
1      0.767163   0.024908        0.638546     0.155973
2      0.871954   0.390369        0.778914     0.240119
3      0.932849   0.291674        0.252031     0.247365
4      0.557947   0.198782        0.757447     0.257462
5      0.815830   0.415016        0.751812     0.361005
6      0.881831   0.197494        0.326150     0.488264
7      0.499460   0.736382        0.738650     0.691952
8      0.617289   0.308135        0.385962     0.712772
9      0.040348   0.658949        0.142761     0.947469

In [74]:
df.sort_values(["kiwi_density", "kiwi_mass"])

   kiwi_density  kiwi_mass  orange_density  orange_mass
1      0.040348   0.658949        0.142761     0.947469
8      0.186599   0.093362        0.724932     0.098743
0      0.499460   0.736382        0.738650     0.691952
6      0.557947   0.198782        0.757447     0.257462
4      0.617289   0.308135        0.385962     0.712772
9      0.767163   0.024908        0.638546     0.155973
2      0.815830   0.415016        0.751812     0.361005
3      0.871954   0.390369        0.778914     0.240119
7      0.881831   0.197494        0.326150     0.488264
5      0.932849   0.291674        0.252031     0.247365